body {
    background-color: #bfbccb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Verdana, sans-serif;
}

header {
    background-color: #bbe5ed;
    display: flex;
    flex-direction: row;
    max-height: 25vh;
    width: 100vw;
    border-bottom: bisque;
    border-bottom-width: 10px;
    border-bottom-style: double;
    align-items: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    padding-top: 8.25%;
    padding-left: 5%;
}

section {
    background-color: #b399a2;
    max-height: 45vh;
    font-size: 15px;
    margin: 2% 25% 2% 25%;
    border: bisque;
    border-width: 10px;
    border-style: double;
    padding: 2%;
    justify-content: center;
}
.password {
    margin: 2% 5% 2% 5%;
    display: flex;
}

#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 15px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 5px double bisque;
    border-radius: 6px;
    background-color: #bbe5ed;
    resize: none;
    overflow: hidden;  
}

.copy {
    background-color: #bbe5ed;
    border: 5px double bisque;
    border-radius: 6px;
    font-size: 15px;
}

.selections {
    padding-top: 2%;  
    align-items: center;
}

label {

}

input {
    border-radius: 5px;
}

.legnth {
}

.slide {

}

.upperCase {

}

.lowewCase {

}

.numbers {

}

.symbols {

}

.generate {
    margin: 10% 5% 2% 5%;
    background-color: #bbe5ed;
    border-radius: 5px;
    font-size: 20px;
}

footer {
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    background-color: #bbe5ed;
    min-height: 10vh;
    min-width: 100vw;
    border-top: bisque;
    border-top-width: 10px;
    border-top-style: double;
}