body {
    background-color: #bfbccb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Verdana, sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: #bbe5ed;
    display: flex;
    flex-direction: row;
    min-height: 25vh;
    width: 100vw;
    border-bottom: bisque;
    border-bottom-width: 10px;
    border-bottom-style: double;
    justify-content: center;
}

img {
    padding: 2%;
    margin: 2%;
    scale: (.5, .5);
}

h1 {
    font-size: 60px;
    font-weight: bold;
    padding-top: 8.25%;
    padding-left: 5%;
    margin: 1% 1% 2% 1%;
}

section {
    background-color: #b399a2;
    max-height: 45vh;
    font-size: 15px;
    margin: 2% 25% 2% 25%;
    border: bisque;
    border-width: 10px;
    border-style: double;
    padding: 2%;
    justify-content: center;
}

.password {
    margin: 2% 5% 2% 5%;
    display: flex;
}

#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 20px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 5px double bisque;
    border-radius: 6px;
    background-color: #bbe5ed;
    resize: none;
    overflow: hidden;  
}

.copy {
    background-color: #bbe5ed;
    border: 5px double bisque;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    border-radius: 6px;
    font-size: 15px;
}

.copy:hover {
    cursor: pointer;
}

.selections {
    padding-top: 2%;  
    align-items: center;
}

input[type=checkbox] {
	border: 5px double bisque;
}

.slide:hover {
    cursor: pointer;
}

.check:hover {
    cursor: pointer;
}

.bigButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate {
    margin: 10% 5% 2% 5%;
    background-color: #bbe5ed;
    border-radius: 5px;
    border-color: bisque;
    border-style: double;
    font-size: 20px;
    box-shadow: 0px 15px 25px #bfbccb;
    transition: transform 1s ease-in-out;
}

.generate:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
}

@media (max-width: 1350px) {
    
    h1 {
        font-size: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 780px) {
    header {
        flex-direction: column;
    }

    img {
        width: 200px;
        height: 191px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    }

    .generate:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1);
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    img {
        display: none;
    }
    h1 {
        font-size: 25px;
    }
}